language: ruby
rvm:
  - 2.2
  - 2.1
  - 2.0
  - 1.9.3

sudo: required

services:
  - docker

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y ansible

script:
  - >
    wget -qO- bit.ly/ansibletest | env
    DOCKER_IMAGES="ubuntu:12.04 ubuntu:14.04 ubuntu:16.04"
    sh

after_failure:
  - cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
